@model BirthdayDateUpdateDto

<form method="post" asp-action="Birthday" class="needs-validation" novalidate>
	<a class="fs-1 text-black link-underline link-underline-opacity-0" asp-action=""><i class="fa-solid fa-arrow-left"></i> Birthday Date</a>
	<div class="form-group my-2">
		<label asp-for="BirthdayDate"></label>
		<input asp-for="BirthdayDate" class="form-control @(ViewData.ModelState["BirthdayDate"] is not null?"is-invalid":"")" min="@(DateTime.Now.AddYears(-80).ToString("yyyy-MM-dd"))" max="@(DateTime.Now.AddYears(-15).ToString("yyyy-MM-dd"))" title="" required\>
		<div id="Email" class="invalid-feedback">
			@{
				if (ViewData.ModelState["BirthdayDate"] is not null)
					foreach (var err in @ViewData.ModelState["BirthdayDate"]?.Errors)
					{
						@err.ErrorMessage
						<br />
					}
			}
		</div>
	</div>
	<div class="form-group my-2">
		<button type="submit" class="btn btn-primary w-100">Save</button>
	</div>
</form>