@model NewUserDto

<form method="post" asp-action="Singup" class="needs-validation" novalidate>
	<h1>Yeni Hesap Oluştur</h1>
	<div class="form-group my-2">
		<label asp-for="Name"></label>
		<input asp-for="Name" class="form-control @(ViewData.ModelState["Err_Name"] is not null?"is-invalid":"")" title="" required\>
		<div id="Name" class="invalid-feedback">
			@ViewData.ModelState["Err_Name"]?.Errors?[0].ErrorMessage
		</div>
	</div>
	<div class="form-group my-2">
		<label asp-for="Surname"></label>
		<input asp-for="Surname" class="form-control @(ViewData.ModelState["Err_Surname"] is not null?"is-invalid":"")" title="" required\>
		<div id="Surname" class="invalid-feedback">
			@ViewData.ModelState["Err_Surname"]?.Errors?[0].ErrorMessage
		</div>
	</div>
	<div class="form-group my-2">
		<label asp-for="Email"></label>
		<input asp-for="Email" class="form-control @(ViewData.ModelState["Err_Email"] is not null?"is-invalid":"")" title="" required\>
		<div id="Email" class="invalid-feedback">
			@ViewData.ModelState["Err_Email"]?.Errors?[0].ErrorMessage
		</div>
	</div>
	<div class="form-group my-2">
		<label asp-for="Password"></label>
		<input asp-for="Password" class="form-control @(ViewData.ModelState["Err_Password"] is not null?"is-invalid":"")" title="" required\>
		<div id="Password" class="invalid-feedback">
			@ViewData.ModelState["Err_Password"]?.Errors?[0].ErrorMessage
		</div>
	</div>
	<div class="form-group my-2">
		<label asp-for="ValidatePassword"></label>
		<input asp-for="ValidatePassword" class="form-control @(ViewData.ModelState["Err_ValidatePassword"] is not null?"is-invalid":"")" required\>
		<div id="ValidatePassword" class="invalid-feedback">
			@ViewData.ModelState["Err_ValidatePassword"]?.Errors?[0].ErrorMessage
		</div>
	</div>
	<div class="form-group my-2">
		<label asp-for="BirthdayDate"></label>
		<input asp-for="BirthdayDate" min="@(DateTime.Now.AddYears(-80).ToString("yyyy-MM-dd"))" max="@(DateTime.Now.AddYears(-15).ToString("yyyy-MM-dd"))" value="@(DateTime.Now.AddYears(-15).ToString("yyyy-MM-dd"))" class="form-control @(ViewData.ModelState["Err_BirthdayDate"] is not null?"is-invalid":"")" title="" required\>
		<div id="BirthdayDate" class="invalid-feedback">
			@ViewData.ModelState["Err_BirthdayDate"]?.Errors?[0].ErrorMessage
		</div>
	</div>
	<div class="form-group my-2">
		<button type="submit" class="btn btn-primary w-100">Giriş Yap</button>
		<p class="text-center"><a class="link-info" asp-action="Singin">Giriş Yap</a> / <a>Şifremi Unuttum</a></p>
	</div>
</form>